/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}


@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.warp {
  padding: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: 20rem auto;
}

.left,
.right{
  font-size: x-large;
  text-align: center;
    height: auto;
}
.card__footer{
	font-family: Hiragino Sans GB, MicroSoft YaHei;
  color: #333;
}

.discrpition{
  font-size: x-large;
  text-align: center;
    height: auto;
}
.img{
  height: 15vh;
  align-content: flex-start;
}

.skill::before{
  content: '';
  display: inline-block;
  clear:both;
  background-image: url(../../static/img/skill.gif);
  width: 28px;
  height: 28px;
  background-size:100%;
  position: relative;
  top:0.5rem;
  right: 0.5rem;
}
